
#outer
{
	height:auto;
	width:1200px;
	background:-webkit-linear-gradient(red,white,skyblue,white);
	border-radius:40px 40px 0px 0px;

}
#section
{
	height:100px;
	width:1200px;
	background:-webkit-linear-gradient(skyblue,white);
}
#logo
{
	height:100px;
	width:200px;
	float:left;
}
#logo:hover
{
-webkit-transform:rotate(1440deg);
-webkit-transition:-webkit-transform 10s;

}
#heading
{
	height:100px;
	width:1000px;
	float:left;
	font-size:80px;
	color:green;
	
}
#menu1
{
	height:50px;
	width:1200px;
	background-color:black;
}
#menu
{
	height:50px;
	width:900px;
	background-color:black;
	border-radius:20px 20px 20px 20px;
	float:left;
}
#text
{
	height:50px;
	width:300px;
	
	border-radius:20px 20px 20px 20px;
	float:left;
}

#menu ul
{
list-style-type:none;	
}
#menu ul li
{
display:inline;
padding:40px;	
}
#menu ul li a
{
	color:white;
	text-decoration:none;
}
#menu ul li a:hover
{
color:yellow;
font-size:20px;
}
#section1
{
	height:500px;
	width:1200px;
	background-image:url('../images/a21.jpg');
	background-size:100% 100%;
}
#section2
{
	height:100px;
	width:1200px;
}
#sec2down
{
	height:400px;
	width:1200px;
}



.class1
{
	height:400px;
	width:400px;
	float:left;
}

.class1 h1 a
{
	text-decoration:none;
}
#image
{
	height:50px;
	width:300px;
	background-color:yellow;
	border-radius:50%;
}

#section3
{
	height:500px;
	width:1200px;
}
.sec
{
	height:250px:
	width:300px;
	float:left;
	border:12px solid;
	margin:1%;
	border-color:blue0;
	
}

#section4
{
	height:300px;
	width:1200px;
}
.sec4
{
	height:300px;
	width:240px;
	float:left;
}
#header
{
	height:100px;
	width:1200px;
	background-color:black;
	margin-top:50px;
}
