#outer
{
  height:auto;
  width:1200px;
  background:-webkit-radial-gradient(white,skyblue);
}
#section
{
	height:100px;
	width:1200px;
}
#sec1
{
	height:100px;
	width:200px;
	float:left;
}
#sec2
{
	height:100px;
	width:1000px;
	float:left;
}
#menu
{
	height:50px;
	width:1200px;
	background:-webkit-radial-gradient(red,black);
    padding-top:5px;
    padding-bottom:10px;
    border-radius:10px 0px 10px 0px;
}
#menu ul
{
list-style-type:none;
}
#menu ul li
{
    display:inline;
    color:white;
    font-weight:bold;
    font-size:20px;
    background:-webkit-linear-gradient(blue,black);
    
    border-radius:10px 10px 10px 100px;
    box-shadow:2px 2px 2px 2px black;
}
#menu ul li a:hover
{
	
    background:-webkit-linear-gradient(orange,gray);
}
a
{
	text-decoration:none;
}
.sec
{
	height:200px;
	width:200px;
	float:left;
	margin-top:150px;
}
#header
{
	height:100px;
	width:1200px;
	background-color:black;
	margin-top:500px;
}

.submenu
{
	display:none;
	position:absolute;
}
#menu ul li:hover .submenu
{
	display:block;
	margin-top:1px;
	margin-left:860px;
}
